@import '@styles/mixins.scss';

.header {
  @apply fixed translate-y-0 w-full h-[60px] z-[1] flex items-center;
  transition: all ease 0.5s;
  &.top {
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
  }
  &.show {
    @apply bg-[var(--black3)];
  }
  &.hide {
    @apply translate-y-[-60px];
  }

  .contentWrapper {
    @apply flex items-center justify-between;
  }

  .logo {
    @apply cursor-pointer;
    img {
      @apply h-[50px];
    }
  }
  .menuItems {
    @apply list-none hidden items-center md:flex;

    .menuItem {
      @apply h-[60px] flex items-center my-0 mx-[15px] text-white font-normal relative;

      &.searchIcon {
        @apply mr-0 cursor-pointer hover:text-[var(--pink)];
      }
      svg {
        @apply text-[18px];
      }
    }
  }

  .mobileMenuItems {
    @apply flex items-center gap-[20px] cursor-pointer md:hidden;

    svg {
      @apply text-white text-[18px];
    }
  }

  &.mobileView {
    background: var(--black3);
    .menuItems {
      @apply flex absolute top-[60px] left-0 bg-[var(--black3)] flex-col w-full py-[20px] px-0;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      animation: mobileMenu 0.3s ease forwards;
      .menuItem {
        @apply text-[20px] w-full h-auto py-[15px] px-[20px] m-0 flex flex-col items-start last:hidden;
      }
    }
  }

  .searchBar {
    @apply w-full h-[60px] bg-white absolute top-[60px];
    animation: mobileMenu 0.3s ease forwards;
    .searchInput {
      @apply flex items-center h-[40px] mt-[10px] w-full;
      svg {
        @apply text-[20px] flex-shrink-0 ml-[10px] cursor-pointer;
      }
      input {
        @apply w-full h-[50px] bg-white outline-0 text-black border-0 py-0 px-[15px] text-[14px] md:h-[60px] md:text-[20px] md:py-0 md:px-[30px];
        border-radius: 30px 0 0 30px;
      }
    }
  }
}

@keyframes mobileMenu {
  0% {
    transform: translateY(-130%);
  }
  100% {
    transform: translateY(0);
  }
}

.logo {
  will-change: filter;
  &:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
}
