@import '@styles/mixins.scss';

.detailsBanner {
  @apply w-full pt-[100px] mb-[50px] bg-[var(--black)];
  @include md {
    margin-bottom: 0;
    padding-top: 120px;
    min-height: 700px;
  }

  .backdrop-img {
    @apply w-full h-full absolute top-0 left-0 opacity-10 overflow-hidden;

    .lazy-load-image-background {
      @apply w-full h-full;
      img {
        @apply w-full h-full bg-cover bg-center;
      }
    }
  }
  .opacity-layer {
    @apply w-full h-[250px] absolute bottom-0 left-0;
    background: linear-gradient(180deg, rgba(4, 21, 45, 0) 0%, #04152d 79.17%);
  }

  .content {
    @apply flex relative flex-col gap-[25px];
    @include md {
      gap: 50px;
      flex-direction: row;
      align-items: center;
    }

    .left {
      @apply flex-shrink-0;
      .posterImg {
        @apply w-full block rounded-[12px] md:max-w-[350px];
      }
    }

    .right {
      @apply text-white;
      .title {
        @apply text-[28px] leading-[40xpx] md:text-[34px] md:leading-[44px];
      }

      .subtitle {
        @apply text-[16px] leading-6 mb-[15px] italic opacity-50 md:text-xl md:leading-7;
      }

      .genres {
        @apply mb-[25px] flex-row flex-wrap;
      }

      .overview {
        @apply mb-[25px];
        .heading {
          @apply text-2xl;
        }
        .description {
          @apply leading-6;
        }
      }

      .circleRating {
        @apply max-w-[70px] bg-[var(--black2)] md:max-w-[90px];

        .CircularProgressbar-text {
          fill: white;
        }
      }

      .playbtn {
        @apply flex items-center gap-5 cursor-pointer;
        svg {
          @apply w-[60px] md:w-[80px];
        }

        .text {
          font-size: 20px;
          transition: all 0.7s ease-in-out;
        }

        .triangle {
          stroke-dasharray: 240;
          stroke-dashoffset: 480;
          stroke: white;
          transform: translateY(0);
          transition: all 0.7s ease-in-out;
        }

        .circle {
          stroke: white;
          stroke-dasharray: 650;
          stroke-dashoffset: 1300;
          transition: all 0.5s ease-in-out;
        }

        &:hover {
          .text {
            color: var(--pink);
          }
          .triangle {
            stroke-dashoffset: 0;
            opacity: 1;
            stroke: var(--pink);
            animation: trailorPlay 0.7s ease-in-out;
          }
          .circle {
            stroke-dashoffset: 0;
            stroke: var(--pink);
          }
        }
      }

      .row {
        @apply flex items-center gap-[25px] mb-[25px];
      }

      .info {
        @apply py-[15px] px-0 flex;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        .infoItem {
          @apply mr-[10px] flex flex-wrap;
        }

        .text {
          @apply mr-[10px] opacity-50 left-6;
          &.bold {
            @apply font-[600] opacity-100;
          }
        }
      }
    }
  }

  .detailsBannerSkeleton {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 25px;
    @include md {
      gap: 50px;
      flex-direction: row;
    }
    .contentWrapper {
      display: flex;
      gap: 50px;
    }
    .left {
      flex-shrink: 0;
      width: 100%;
      display: block;
      border-radius: 12px;
      aspect-ratio: 1/1.5;
      @include md {
        max-width: 350px;
      }
    }
    .right {
      width: 100%;
      .row {
        width: 100%;
        height: 25px;
        margin-bottom: 20px;
        border-radius: 50px;
        &:nth-child(2) {
          width: 75%;
          margin-bottom: 50px;
        }
        &:nth-child(5) {
          width: 50%;
          margin-bottom: 50px;
        }
      }
    }
  }
}
