.circleRating {
  @apply rounded-full p-[2px] left-[0px] bottom-[0px] absolute w-[70px] bg-[var(--black3)];
  color: white !important;

  .CircularProgressbar-text {
    @apply text-[40px] font-bold;
    fill: var(--black);
  }

  .CircularProgressbar-trail {
    stroke: transparent;
  }
}
