@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset styles */

html,
body {
  min-height: 100vh;
  font-size: 14px;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
  color: white;
  background-color: #212121;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul li,
ol li,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}

nav,
footer,
header,
aside,
main {
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --black: #04152d;
  --black2: #041226;
  --black3: #020c1b;
  --black-lighter: #1c4b91;
  --black-light: #173d77;
  --pink: #da2f68;
  --orange: #f89e00;
  --gradient: linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);
}

body {
  background-color: #04152d;
}
