@import '@styles/mixins.scss';

.heroBanner {
  @apply w-screen bg-[var(--black)] flex items-center relative xl:h-[700px] md:h-[450px] sm:h-[300px];

  .backdrop-img {
    @apply w-full h-full absolute top-0 left-0 opacity-75 overflow-hidden text-center;

    .lazy-load-image-background {
      @apply w-full h-full;

      img {
        @apply w-full h-full bg-cover bg-center;
      }
    }
  }

  .opacity-layer {
    @apply w-full h-[250px] absolute bottom-0 left-0;
    background: linear-gradient(180deg, rgba(4, 21, 45, 0) 0%, #04152d 79.17%);
  }

  .heroBannerContent {
    @apply flex flex-col items-center text-white text-center relative max-w-[800px] my-0 mx-auto;

    .title {
      @apply text-[50px] font-bold mb-[10px] md:mb-0 md:text-[90px] pt-[75px] sm:pt-[50px] md:pt-0;
    }
    .subTitle {
      @apply text-[18px] font-normal mb-[40px] md:text-[24px];
    }
    .searchInput {
      @apply flex items-center w-full text-black;

      input {
        width: calc(100% - 100px);
        @apply h-[50px] bg-white outline-0 border-0 py-0 px-[15px] text-[14px] rounded-tl-full rounded-bl-full;

        @include md {
          width: calc(100% - 150px);
          @apply h-[60px] text-[20px] py-0 px-[30px];
        }
      }
      button {
        @apply w-[100px] h-[50px] text-white outline-0 border-0 text-[16px] cursor-pointer;
        border-radius: 0 30px 30px 0;
        background: var(--gradient);

        @include md {
          @apply w-[150px] h-[60px] text-[18px];
        }
      }
    }
  }
}
