@import '@styles/mixins.scss';

.movieCard {
  @apply mb-[25px] cursor-pointer flex-shrink-0;
  width: calc(50% - 5px);
  @include md {
    width: calc(25% - 15px);
  }
  @include lg {
    width: calc(20% - 16px);
  }

  .posterBlock {
    @apply relative w-full bg-cover bg-center mb-[30px] flex items-end justify-between p-[10px];
    aspect-ratio: 1 / 1.5;
    transition: all ease 0.5s;

    .lazy-load-image-background {
      @apply absolute top-0 left-0 w-full h-full rounded-[12px];

      img {
        @apply w-full h-full bg-cover bg-center;
      }
    }

    .circleRating {
      @apply w-[40px] h-[40px] relative top-[30px] bg-white flex-shrink-0 md:w-[50px] md:h-[50px];
    }

    .genres {
      @apply hidden relative;

      @include md {
        @apply flex flex-wrap justify-end;
      }
    }
  }

  .textBlock {
    @apply text-white flex flex-col;

    .title {
      @apply text-[16px] mb-[10px] leading-6 md:text-[20px];
    }

    .date {
      @apply text-[14px] opacity-50;
    }
  }

  &:hover {
    .posterBlock {
      @apply opacity-50;
    }
  }
}
